@font-face {
  font-family: 'Caveat';
  src: url('/fonts/Caveat-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico-Regular.ttf');
}
@font-face {
  font-family: 'AnonymousPro';
  src: url('/fonts/AnonymousPro-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_28pt-Regular.ttf');
}
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Regular.ttf');
}

@import 'tailwindcss';

@theme {
  --font-Caveat: 'Caveat', sans-serif;
  --font-Roboto: 'Roboto', sans-serif;
  --font-Pacifico: 'Pacifico', sans-serif;
  --font-AnonymousPro: 'AnonymousPro', sans-serif;
  --font-Inter: 'Inter', sans-serif;
  --font-Oswald: 'Oswald', sans-serif;
}

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(36, 36, 36);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(36, 36, 36);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(36, 36, 36);
  --primary: rgb(53, 53, 53);
  --primary-foreground: rgb(251, 251, 251);
  --secondary: rgb(246, 246, 246);
  --secondary-foreground: rgb(53, 53, 53);
  --muted: rgb(246, 246, 246);
  --muted-foreground: rgb(140, 140, 140);
  --accent: rgb(246, 246, 246);
  --accent-foreground: rgb(53, 53, 53);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(239, 68, 68);
  --border: rgb(234, 234, 234);
  --input: rgb(234, 234, 234);
  --ring: rgb(222, 222, 222);
  --chart-1: rgb(239, 68, 68);
  --chart-2: rgb(34, 197, 94);
  --chart-3: rgb(59, 130, 246);
  --chart-4: rgb(245, 158, 11);
  --chart-5: rgb(168, 85, 247);
  --radius: 0.625rem;
  --sidebar: rgb(251, 251, 251);
  --sidebar-foreground: rgb(36, 36, 36);
  --sidebar-primary: rgb(53, 53, 53);
  --sidebar-primary-foreground: rgb(251, 251, 251);
  --sidebar-accent: rgb(246, 246, 246);
  --sidebar-accent-foreground: rgb(53, 53, 53);
  --sidebar-border: rgb(234, 234, 234);
  --sidebar-ring: rgb(222, 222, 222);
}

.dark {
  --background: rgb(36, 36, 36);
  --foreground: rgb(251, 251, 251);
  --card: rgb(36, 36, 36);
  --card-foreground: rgb(251, 251, 251);
  --popover: rgb(36, 36, 36);
  --popover-foreground: rgb(251, 251, 251);
  --primary: rgb(251, 251, 251);
  --primary-foreground: rgb(53, 53, 53);
  --secondary: rgb(70, 70, 70);
  --secondary-foreground: rgb(251, 251, 251);
  --muted: rgb(70, 70, 70);
  --muted-foreground: rgb(179, 179, 179);
  --accent: rgb(70, 70, 70);
  --accent-foreground: rgb(251, 251, 251);
  --destructive: rgb(127, 29, 29);
  --destructive-foreground: rgb(248, 113, 113);
  --border: rgb(70, 70, 70);
  --input: rgb(70, 70, 70);
  --ring: rgb(113, 113, 113);
  --chart-1: rgb(124, 58, 237);
  --chart-2: rgb(34, 197, 94);
  --chart-3: rgb(168, 85, 247);
  --chart-4: rgb(236, 72, 153);
  --chart-5: rgb(239, 68, 68);
  --sidebar: rgb(53, 53, 53);
  --sidebar-foreground: rgb(251, 251, 251);
  --sidebar-primary: rgb(124, 58, 237);
  --sidebar-primary-foreground: rgb(251, 251, 251);
  --sidebar-accent: rgb(70, 70, 70);
  --sidebar-accent-foreground: rgb(251, 251, 251);
  --sidebar-border: rgb(70, 70, 70);
  --sidebar-ring: rgb(113, 113, 113);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
